* text=auto !eol
/AGPL.txt -text
/LICENSE.txt -text
/README.txt -text
/SECURITY.txt -text
/WACC.zpk -text
/box.json -text
/build.xml -text
cmdlets/local/fancyhello/fancyhello.php -text
cmdlets/local/hello.php -text
cmdlets/system/about.php -text
cmdlets/system/fs/fs.php -text
cmdlets/system/login.php -text
cmdlets/system/motd.php -text
cmdlets/system/phpinfo.php -text
cmdlets/system/ping.php -text
cmdlets/system/pt.php -text
cmdlets/system/session.php -text
cmdlets/system/sessioncmd.php -text
cmdlets/system/sql/rb-license.txt -text
cmdlets/system/sql/rb.php -text
cmdlets/system/sql/sql.php -text
cmdlets/system/sys/cmdlet.php -text
cmdlets/system/sys/config.php -text
cmdlets/system/sys/session.php -text
cmdlets/system/sys/sys.php -text
cmdlets/system/sysinfo.php -text
cmdlets/system/type.php -text
/composer.json -text
/composer.lock -text
/deployment.properties -text
/deployment.xml -text
docs-src/Makefile -text
docs-src/apigen.neon -text
docs-src/make.bat -text
docs-src/source/appendix.rst -text
docs-src/source/cmdlets/about.rst -text
docs-src/source/cmdlets/login.rst -text
docs-src/source/cmdlets/motd.rst -text
docs-src/source/cmdlets/phpinfo.rst -text
docs-src/source/cmdlets/ping.rst -text
docs-src/source/cmdlets/type.rst -text
docs-src/source/conf.py -text
docs-src/source/contributing.rst -text
docs-src/source/extending.rst -text
docs-src/source/favicon.ico -text
docs-src/source/favicon.png -text
docs-src/source/index.rst -text
docs-src/source/installation.rst -text
docs-src/source/intro.rst -text
docs-src/source/syscmds.rst -text
docs-src/source/usage.rst -text
docs-src/source/wacc.png -text
executive/config.sample.ini -text
executive/templates/WebConsole.twig -text
executive/templates/about.twig -text
executive/templates/readme-redmine.html.twig -text
executive/wacc-cs.db -text
executive/wacc-shell.php -text
executive/wacc.php -text
scripts/post_activate.php -text
scripts/post_deactivate.php -text
scripts/post_stage.php -text
scripts/post_unstage.php -text
scripts/pre_activate.php -text
scripts/pre_deactivate.php -text
scripts/pre_stage.php -text
scripts/pre_unstage.php -text
src/Common.php -text
src/Wacc/Subcmds/Filesystem/BaseCmd.php -text
src/Wacc/Subcmds/Filesystem/mkdir.php -text
src/Wacc/System/BasicHtmlOutput.php -text
src/Wacc/System/BufferedTextOutput.php -text
src/Wacc/System/ChainedStringLinker.php -text
src/Wacc/System/Cmdlet.php -text
src/Wacc/System/Configuration/Manager.php -text
src/Wacc/System/FormattedHtmlOutput.php -text
src/Wacc/System/RawOutput.php -text
src/Wacc/System/Security/Authentication/InternalSqliteAuthProvider.php -text
src/Wacc/System/SessionManager.php -text
src/Wacc/System/WaccApp.php -text
src/Wacc/System/WebController.php -text
src/Wacc/composer.json -text
webroot/cmd-form.html -text
webroot/css/Share-Tech.ttf -text
webroot/css/Share-TechExp.ttf -text
webroot/css/Share-TechMono.ttf -text
webroot/css/Share-TechMonoExp.ttf -text
webroot/css/fullpage.css -text
webroot/css/wacc.css -text
webroot/ht.access -text
webroot/images/Share-TechMono.ttf -text
webroot/images/Share-TechMonoExp.ttf -text
webroot/images/config-button.png -text
webroot/images/favicon.png -text
webroot/images/wacc.png -text
webroot/images/wacc.svg -text
webroot/index.html -text
webroot/index.php -text
webroot/js/WACCClient.js -text
webroot/js/WACCTerminal.js -text
webroot/js/WACCTerminal.ts -text
webroot/js/jquery-1.7.1.min.js -text
webroot/js/term_styles.css -text
webroot/js/termlib.js -text
webroot/templates/overlay.html -text
webroot/templates/terminal.html -text
webroot/we.bconfig -text
webroot/web.config -text
