* text=auto !eol
/LICENSE.txt -text
/README.txt -text
/SECURITY.txt -text
/apigen.neon -text
approot/cmdlets/fancyhello/fancyhello.php -text
approot/cmdlets/hello.php -text
approot/config.sample.ini -text
approot/system/BasicHtmlOutput.php -text
approot/system/Cmdlet.php -text
approot/system/SessionManager.php -text
approot/system/WaccApp.php -text
approot/system/WebController.php -text
approot/system/cmdlets/about.php -text
approot/system/cmdlets/login.php -text
approot/system/cmdlets/motd.php -text
approot/system/cmdlets/phpinfo.php -text
approot/system/cmdlets/ping.php -text
approot/system/cmdlets/session.php -text
approot/system/cmdlets/sql/rb-license.txt -text
approot/system/cmdlets/sql/rb.php -text
approot/system/cmdlets/sql/sql.php -text
approot/system/cmdlets/type.php -text
approot/system/libs/silex.phar -text svneol=unset#unset
approot/system/libs/symfony-Console/Application.php -text
approot/system/libs/symfony-Console/CHANGELOG.md -text
approot/system/libs/symfony-Console/Command/Command.php -text
approot/system/libs/symfony-Console/Command/HelpCommand.php -text
approot/system/libs/symfony-Console/Command/ListCommand.php -text
approot/system/libs/symfony-Console/Formatter/OutputFormatter.php -text
approot/system/libs/symfony-Console/Formatter/OutputFormatterInterface.php -text
approot/system/libs/symfony-Console/Formatter/OutputFormatterStyle.php -text
approot/system/libs/symfony-Console/Formatter/OutputFormatterStyleInterface.php -text
approot/system/libs/symfony-Console/Formatter/OutputFormatterStyleStack.php -text
approot/system/libs/symfony-Console/Helper/DialogHelper.php -text
approot/system/libs/symfony-Console/Helper/FormatterHelper.php -text
approot/system/libs/symfony-Console/Helper/Helper.php -text
approot/system/libs/symfony-Console/Helper/HelperInterface.php -text
approot/system/libs/symfony-Console/Helper/HelperSet.php -text
approot/system/libs/symfony-Console/Input/ArgvInput.php -text
approot/system/libs/symfony-Console/Input/ArrayInput.php -text
approot/system/libs/symfony-Console/Input/Input.php -text
approot/system/libs/symfony-Console/Input/InputArgument.php -text
approot/system/libs/symfony-Console/Input/InputDefinition.php -text
approot/system/libs/symfony-Console/Input/InputInterface.php -text
approot/system/libs/symfony-Console/Input/InputOption.php -text
approot/system/libs/symfony-Console/Input/StringInput.php -text
approot/system/libs/symfony-Console/LICENSE -text
approot/system/libs/symfony-Console/Output/ConsoleOutput.php -text
approot/system/libs/symfony-Console/Output/ConsoleOutputInterface.php -text
approot/system/libs/symfony-Console/Output/NullOutput.php -text
approot/system/libs/symfony-Console/Output/Output.php -text
approot/system/libs/symfony-Console/Output/OutputInterface.php -text
approot/system/libs/symfony-Console/Output/StreamOutput.php -text
approot/system/libs/symfony-Console/README.md -text
approot/system/libs/symfony-Console/Shell.php -text
approot/system/libs/symfony-Console/Tester/ApplicationTester.php -text
approot/system/libs/symfony-Console/Tester/CommandTester.php -text
approot/system/libs/symfony-Console/composer.json -text
approot/system/templates/WebConsole.twig -text
approot/system/templates/about.twig -text
approot/system/templates/readme-redmine.html.twig -text
approot/wacc.php -text
/build.xml -text
/composer.json -text
/deployment.properties -text
/deployment.xml -text
scripts/post_activate.php -text
scripts/post_deactivate.php -text
scripts/post_stage.php -text
scripts/post_unstage.php -text
scripts/pre_activate.php -text
scripts/pre_deactivate.php -text
scripts/pre_stage.php -text
scripts/pre_unstage.php -text
webroot/cmd-form.html -text
webroot/css/fullpage.css -text
webroot/css/wacc.css -text
webroot/ht.access -text
webroot/images/config-button.png -text
webroot/images/favicon.png -text
webroot/images/wacc.png -text
webroot/images/wacc.svg -text
webroot/index.html -text
webroot/index.php -text
webroot/js/WACCClient.js -text
webroot/js/jquery-1.7.1.min.js -text
webroot/we.bconfig -text
