* text=auto !eol
/AGPL.txt -text
/LICENSE.txt -text
/README.txt -text
/SECURITY.txt -text
approot/cmdlets/fancyhello/fancyhello.php -text
approot/cmdlets/hello.php -text
approot/config.sample.ini -text
approot/system/BufferedTextOutput.php -text
approot/system/FormattedHtmlOutput.php -text
approot/system/cmdlets/about.php -text
approot/system/cmdlets/fs/fs.php -text
approot/system/cmdlets/login.php -text
approot/system/cmdlets/motd.php -text
approot/system/cmdlets/phpinfo.php -text
approot/system/cmdlets/ping.php -text
approot/system/cmdlets/session.php -text
approot/system/cmdlets/sessioncmd.php -text
approot/system/cmdlets/sql/rb-license.txt -text
approot/system/cmdlets/sql/rb.php -text
approot/system/cmdlets/sql/sql.php -text
approot/system/cmdlets/sys/config.php -text
approot/system/cmdlets/sys/session.php -text
approot/system/cmdlets/sys/sys.php -text
approot/system/cmdlets/type.php -text
approot/system/libs/silex.phar -text svneol=unset#unset
approot/system/libs/symfony-Console/Application.php -text
approot/system/libs/symfony-Console/CHANGELOG.md -text
approot/system/libs/symfony-Console/Command/Command.php -text
approot/system/libs/symfony-Console/Command/HelpCommand.php -text
approot/system/libs/symfony-Console/Command/ListCommand.php -text
approot/system/libs/symfony-Console/Formatter/OutputFormatter.php -text
approot/system/libs/symfony-Console/Formatter/OutputFormatterInterface.php -text
approot/system/libs/symfony-Console/Formatter/OutputFormatterStyle.php -text
approot/system/libs/symfony-Console/Formatter/OutputFormatterStyleInterface.php -text
approot/system/libs/symfony-Console/Formatter/OutputFormatterStyleStack.php -text
approot/system/libs/symfony-Console/Helper/DialogHelper.php -text
approot/system/libs/symfony-Console/Helper/FormatterHelper.php -text
approot/system/libs/symfony-Console/Helper/Helper.php -text
approot/system/libs/symfony-Console/Helper/HelperInterface.php -text
approot/system/libs/symfony-Console/Helper/HelperSet.php -text
approot/system/libs/symfony-Console/Input/ArgvInput.php -text
approot/system/libs/symfony-Console/Input/ArrayInput.php -text
approot/system/libs/symfony-Console/Input/Input.php -text
approot/system/libs/symfony-Console/Input/InputArgument.php -text
approot/system/libs/symfony-Console/Input/InputDefinition.php -text
approot/system/libs/symfony-Console/Input/InputInterface.php -text
approot/system/libs/symfony-Console/Input/InputOption.php -text
approot/system/libs/symfony-Console/Input/StringInput.php -text
approot/system/libs/symfony-Console/LICENSE -text
approot/system/libs/symfony-Console/Output/ConsoleOutput.php -text
approot/system/libs/symfony-Console/Output/ConsoleOutputInterface.php -text
approot/system/libs/symfony-Console/Output/NullOutput.php -text
approot/system/libs/symfony-Console/Output/Output.php -text
approot/system/libs/symfony-Console/Output/OutputInterface.php -text
approot/system/libs/symfony-Console/Output/StreamOutput.php -text
approot/system/libs/symfony-Console/README.md -text
approot/system/libs/symfony-Console/Shell.php -text
approot/system/libs/symfony-Console/Tester/ApplicationTester.php -text
approot/system/libs/symfony-Console/Tester/CommandTester.php -text
approot/system/libs/symfony-Console/composer.json -text
approot/system/src/Wacc/System/BasicHtmlOutput.php -text
approot/system/src/Wacc/System/ChainedStringLinker.php -text
approot/system/src/Wacc/System/Cmdlet.php -text
approot/system/src/Wacc/System/Configuration/Manager.php -text
approot/system/src/Wacc/System/FormattedHtmlOutput.php -text
approot/system/src/Wacc/System/RawOutput.php -text
approot/system/src/Wacc/System/Security/Authentication/InternalSqliteAuthProvider.php -text
approot/system/src/Wacc/System/SessionManager.php -text
approot/system/src/Wacc/System/WaccApp.php -text
approot/system/src/Wacc/System/WebController.php -text
approot/system/templates/WebConsole.twig -text
approot/system/templates/about.twig -text
approot/system/templates/readme-redmine.html.twig -text
approot/wacc-cs.db -text
approot/wacc.php -text
/build.xml -text
/composer.json -text
/deployment.properties -text
/deployment.xml -text
docs-src/Makefile -text
docs-src/apigen.neon -text
docs-src/make.bat -text
docs-src/source/appendix.rst -text
docs-src/source/cmdlets/about.rst -text
docs-src/source/cmdlets/login.rst -text
docs-src/source/cmdlets/motd.rst -text
docs-src/source/cmdlets/phpinfo.rst -text
docs-src/source/cmdlets/ping.rst -text
docs-src/source/cmdlets/type.rst -text
docs-src/source/conf.py -text
docs-src/source/contributing.rst -text
docs-src/source/extending.rst -text
docs-src/source/favicon.ico -text
docs-src/source/favicon.png -text
docs-src/source/index.rst -text
docs-src/source/installation.rst -text
docs-src/source/intro.rst -text
docs-src/source/syscmds.rst -text
docs-src/source/usage.rst -text
docs-src/source/wacc.png -text
scripts/post_activate.php -text
scripts/post_deactivate.php -text
scripts/post_stage.php -text
scripts/post_unstage.php -text
scripts/pre_activate.php -text
scripts/pre_deactivate.php -text
scripts/pre_stage.php -text
scripts/pre_unstage.php -text
webroot/cmd-form.html -text
webroot/css/fullpage.css -text
webroot/css/wacc.css -text
webroot/ht.access -text
webroot/images/config-button.png -text
webroot/images/favicon.png -text
webroot/images/wacc.png -text
webroot/images/wacc.svg -text
webroot/index.html -text
webroot/index.php -text
webroot/js/WACCClient.js -text
webroot/js/WACCTerminal.js -text
webroot/js/WACCTerminal.ts -text
webroot/js/jquery-1.7.1.min.js -text
webroot/templates/overlay.html -text
webroot/templates/terminal.html -text
webroot/we.bconfig -text
