/* System CSS */

#wacc-console
{
	position: relative;
	width: 800px;
	font-family: "Terminal", "Lucida Console", monospace;
	font-size: small;
	font-weight: 500;
	color: #0080ff; /* The same light blue in the icon */
	background-color: #090909 ; /* dark grey */
}

#command-line
{
	font-family: inherit!important;
	font-size: inherit!important;
	color: inherit!important;
	background-color: inherit!important;
}

#wacc-config-overlay
{
	position: absolute;
	width: 300px;
	margin: 0px auto;
	padding: 10px;
	z-index: 1000;
	border-radius: 4px;
	background: #888888;
	color: #ffffff;
	opacity: 0.9;
	font-family: sans;
	font-size: medium;
	text-align: center;
}

#wacc-config-form
{
	display: block;
	width: 75%;
	margin: 2px auto;
	padding: 5px;
	border-radius: 4px;
	background: #ffffff;
	color: #000000;
	opacity: 1;
	text-align: left;
	font-family: sans;
}

.colorbox
{
	display: block;
	height: 5px;
	width: 5px;
}

#history
{
	white-space: pre-wrap;
}

/* These are command output line class styles */
#history>.info
{
	color: #008800; /* green text */
}
#history>.comment
{
	color: #FFFF00; /* yellow text */
}
#history>.question
{
	color: #000000; /* black text on a cyan background */
	background-color: #0080ff
}
#history>.error
{
	/* white text on a red background */
	color: #FFFFFF;
	background-color: #FF0000;
}


#input
{
	width: 99%;
}
#input>label
{
	width: 5%;
}
#command-line
{
	border-style: none;
	background: transparent;
	width: 94%;
}

#command-line:focus
{
    outline: none;
}

/* User CSS */

#main-container
{
	/*
	This property, if set, will dictate the max height of the console's prompt and history
	Note: It must be set in px
	*/
	max-height: 500px;
}
