<h2>WACC Configuration</h2>
<form id="wacc-config-form" name="wacc-config-form">
    <label for="terminal-style">Terminal Style:</label>
    <select id="terminal-style">
        <option value="linux" selected="selected">Linux</option>
        <option value="windows">Windows</option>
        <!--<option value="ios">IOS</option>-->
    </select>
    
    <label for="text-color">Text Color:</label>
    <select id="text-color">
    </select>
    
    <label for="bkg-color">Background Color:</label>
    <select id="bkg-color">
    </select>
    
    <label for="font-size">Font Size:</label>
    <select id="font-size">
    </select>
</form>